@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import "normalize.css";
.TopBar {
  background-color: #16a085;
  width: 1100px;
  margin: 0 auto;
  padding: 4px 6px;
  box-sizing: border-box;
  align-items: baseline;
  height: 50px;
  display: flex;

}
.SearchBox{
   margin-left: auto;
   align-self: center;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #293a4a inset;
  -webkit-text-fill-color: #9DA99B !important;
}
.MenuItem + .MenuItem {
    margin-left: 10px;
}

.TitleBtn{


  font-size: 26px;
}

.TitleBox h2 {
  margin: 20px 2px;

}
.MenuItem{
  height: 100%;
  display: flex;
  align-items: center;
  position:relative;
  padding: 5px;
  box-sizing: border-box;

}
.episodeitem:hover {
  background-color: #16a085;

}
body {
  background-color: #2C3E50;
  color: #eee;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.episodeitem {
  background-color: #34495e;
  color: #eee;
  border: 1px solid #2C3E50;
  padding: 10px 15px;
}
.LoadingPage {
  padding-bottom: 60px;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}
.playerThing {
  margin: auto;
  width: 1100px;
}
.playerMain {
  display: block;
  position: fixed;
  bottom: 0;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 1100px;
  background: #02A1B4;
}

.MenuItem:hover .MenuList {
	display: block;
}
.MenuItem > .MenuList {
	display: none;
}


.playerHandle {
  
    transition: opacity .25s ease-in-out;

}
